.header {
    margin: 0 auto;
    width: 80%;
}

.header-area {
    padding: 1.25rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-area img {
    width: 6.75rem;
}

.header-area ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-area li {
    margin-left: 3.12rem;
}

.header-area a {
    text-decoration: none;
    color: #f4f4f4;
}

.header-area-contato {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header-area-contato a {
    padding: 0.5rem 1.87rem;
    background-color: #04903b;
    border-radius: 0.14rem;
    font-weight: 500;
}

.header-area-contato img {
    width: 0.75rem;
}

.table_center {
    display: none;
}

@media (max-width: 1025px) {
    .header-area li {
        margin-left: 1.12rem;
    }
}

@media (max-width: 915px) {
    .header-area-menu {
        display: none;
    }
    .table_center {
        display: block;
    }

    .drop-down__button{
      margin-left: 240px;
        display: inline-block;
        line-height: 40px;
        padding: 0 18px;
        text-align: left;
        border-radius: 4px;
        cursor: pointer;
      }
      
      .drop-down__name {
          font-size: 42px;
          text-transform: uppercase;
          color: #fff;
          font-weight: 800;
          letter-spacing: 2px;
          
      }
      
      .drop-down__icon {
          width: 18px;
          vertical-align: middle;
          margin-left: 14px;
          height: 18px;
          border-radius: 50%;
          transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        
      }
      
      
      
      .drop-down__menu-box {
          position: absolute;
          width: 53%;
          left: 0;
          background-color: #fff;
          border-radius: 4px;
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
           transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
       visibility: hidden;
      opacity: 0;
        margin-top: 5px;
      }
      
      .drop-down__menu {
          margin: 0;
          padding: 0 13px;
          list-style: none;
        
      }
      .drop-down__menu-box:before{
        content:'';
        background-color: transparent;
        border-right: 8px solid transparent;
        position: absolute;
        border-left: 8px solid transparent;
        border-bottom: 8px solid #fff;
        border-top: 8px solid transparent;
        top: -15px;
        right: 18px;
      
      }
      
      .drop-down__menu-box:after{
        content:'';
        background-color: transparent;
      }
      
      .drop-down__item {
          font-size: 13px;
          padding: 13px 0;
          text-align: left;
          font-weight: 500;
          color: black !important;
          cursor: pointer;
          position: relative;
      }
      
      .drop-down__item-icon {
          width: 15px;
          height: 15px;
          position: absolute;
          right: 0px;
          fill: #8995b6;
        
      }
      
      .drop-down__item:hover .drop-down__item-icon{
        fill: #3d6def;
      }
      
      .drop-down__item:hover{
        color: #3d6def;
      }
      
      
      
      .drop-down__item:last-of-type{
        border-bottom: 0;
      }
      
      
      .drop-down--active .drop-down__menu-box{
      visibility: visible;
      opacity: 1;
      margin-left: 108px;
      }
      
      .drop-down__item:before{
        content:'';
        position: absolute;
      width: 3px;
      height: 28px;
      background-color: #3d6def;
      left: -13px;
      top: 50%;
      transform: translateY(-50%);
        display:none;
      }
      
      .drop-down__item:hover:before{
        display:block;
      }
}

@media (max-width: 726px) {
  .drop-down__button {
    margin-left: 12rem;
}
  .drop-down--active .drop-down__menu-box {
    margin-left: 58px;
  }
  .drop-down__menu-box {
    width: 57%;
  }
}

@media (max-width: 676px) {
  .drop-down__button {
    margin-left: 10rem;
}
  .drop-down--active .drop-down__menu-box {
    margin-left: 20px;
  }
  .drop-down__menu-box {
    width: 61%;
  }
}

@media (max-width: 600px) {
  .drop-down__button {
    margin-left: 3rem;
}
  .drop-down--active .drop-down__menu-box {
    margin-left: 20px;
  }
  .drop-down__menu-box {
    width: 80%;
  }
  .drop-down__menu-box:before{
    right: 175px;
  
  }
}

@media (max-width: 525px) {

  .drop-down__menu-box:before{
    right: 152px;
  
  }
}

@media (max-width: 475px) {
  .drop-down__button {
    margin-left: 0;
}
  .drop-down--active .drop-down__menu-box {
    margin-left: 20px;
  }
  .drop-down__menu-box {
    width: 90%;
  }
  .drop-down__menu-box:before{
    right: 216px;
  }
}

@media (max-width: 438px) {
  .drop-down--active .drop-down__menu-box {
    margin-left: 18px;
}
  .drop-down__menu-box {
    width: 90%;
  }
  .drop-down__menu-box:before {
    right: 200px;
}
}

@media (max-width: 425px) {
  .drop-down--active .drop-down__menu-box {
    margin-left: 18px;
}
  .drop-down__menu-box {
    width: 95%;
  }
  .drop-down__menu-box:before {
    right: 216px;
}
}
