.obrigadoFooter {
    margin: 0 auto;
    width: 80%;
}

.obrigadoFooter-footer {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-around;
}

.obrigadoFooter-footer img {
    width: 250px;
}

.obrigadoFooter-footer p {
    color: white;
}

.obrigadoFooter-icones i {
    font-size: 20px;
    color: white;
    margin: 0 8px;
}

@media (max-width: 1270px) {
    .obrigadoFooter-footer img {
        width: 200px;
    }
    .obrigadoFooter-footer p {
        font-size: 14px;
    }
}

@media (max-width: 965px) {
    .obrigadoFooter-footer {
        flex-direction: column;
    }
    .obrigadoFooter-footer p{
        margin: 30px 0;
    }
}


@media (max-width: 560px) {
    .obrigadoFooter-footer p{
        width: 300px;
        text-align: center;
    }
}